
<section class="lot-details">
          <!-- title row -->
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-file"></i> F317298.1/A3W1S2
                <!-- <small class="pull-right">Date: 2/10/2014</small> -->
                <div class="box-tools pull-right">
                    <div class="input-group" style="width: 450px;">
                      <input type="text" id="search" name="table_search" class="form-control input-sm pull-right" placeholder="Machine Search">
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
              </h2>
            </div><!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
             <div class="col-sm-4 invoice-col">
              <b>Customer: </b>IR<br>
              <b>Pkg/LD/Body: </b>SOICNB 8 LDS<br>
              <b>Customer Device: </b>IRF7832TRPBF<br>
              <b>Product ID: </b>P027812-000.1.1-814250<br>
              <b>Lot No.: </b>F317298.1/A3W1S2<br>
              <b>Sub-Lot No.: </b>F317298.1/A3W1S2-A<br>
              <b>Lot Quantity: </b>11,200<br>
              <b>Run No.: </b>1 of 1<br>
              <b>Run Qty.: </b>11,200<br>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <b>Build Sheet No.: </b> IR-110<br>
              <b>CPF No.: </b>AF-27-309<br>
              <b>BPO / BPP: </b>IRF7832TRPBF<br>
              <b>PCI No.: </b>13-IRU-07004<br>
              <b>Process Flow No.: </b>027-812-901<br>
              <b>PLS #: </b>00008515<br>
              <b>Strip Mark: </b>DF<br>
              <b>Shipping Destination: </b>SOT-TEST, ISPL<br>
              <b>Special Instructions: </b><br>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <b>Shipment Date: </b> 31-May-2007<br>
              <b>Start Date: </b>28-May-2007<br>
              <br>
              <b>Top Mark: </b> <br>
              <br>
              <b>Bottom Mark: </b> <br>
              
            </div><!-- /.col -->
          </div><!-- /.row -->
          <hr>
          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Step - Process Flow (Spec Ref)</th>
                    <th>Qty In</th>
                    <th>Qty Out</th>
                    <th>L/F Qty</th>
                    <th>Mach No.</th>
                    <th>Reject Code</th>
                    <th>Reject Qty</th>
                    <th>Emp No.</th>
                    <th>Date</th>
                    <th>Shift</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Mag/Car No</th>
                    <th>QC Stamp</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>112 - Wire Bond</td>
                    <td>11,200</td>
                    <td>11,184</td>
                    <td>80</td>
                    <td>IR EHOG</td>
                    <td>WBBG</td>
                    <td>16</td>
                    <td>0199</td>
                    <td>5/29</td>
                    <td>A</td>
                    <td>08:54</td>
                    <td>19:00</td>
                    <td>0692</td>
                    <td></td>
                  </tr>
                
                </tbody>
              </table>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-xs-12">
              <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate PDF</button>
            </div>
          </div>
        </section>