// Place all the styles related to the lots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lot-details{
	position: relative;
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 20px;
}
